<div class="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row vh-50">
            <div class="col-md-6 col-12 h-100 border">
            </div>
            <div class="col-6">
                <div class="row h-50">
                    <div class="col d-md-block d-none border">
                    </div>
                    <div class="col d-lg-block d-none border">
                    </div>
                </div>
                <div class="row h-50">
                    <div class="col d-md-block d-none border">
                    </div>
                    <div class="col d-lg-block d-none border">
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-8 text-center">
                    <h1>Pokój w Łodzi</h1>
                    <ul class="basic-info-list gray-text">
                        <li>3 sypialnie</li>
                        &bull;
                        <li>Dostepny od zaraz</li>
                        &bull;
                        <li>4+ miesiecy</li>
                    </ul>
                    <hr class="w-100 horizontal-line">
                    <div class="row">
                        <div class="col text-center">Cechy</div>
                    </div>
                    <hr class="w-100 horizontal-line">
                    <div class="row text-center">
                        <div class="col text-center">Opisik</div>
                    </div>
                    <hr class="w-100 horizontal-line">
                    <div class="row text-center">
                        <div class="col text-center">Udogodnienia</div>
                    </div>
                    <hr class="w-100 horizontal-line">
                    <div class="row text-center">
                        <div class="col text-center">Dostepność</div>
                    </div>
                    <hr class="w-100 vh-100 horizontal-line">
                    <div class="row text-center">
                        <div class="col text-center">Recenzje</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="sticky-info">
                        <div class="d-flex justify-content-center align-content-center">
                            <div class="profile-img mb-3 d-flex align-content-center justify-content-center">
                                <span>?</span>
                            </div>
                        </div>
                        <hr class="w-50">
                        <div>test</div>
                        <div>test</div>
                        <div>test</div>
                        <div>test</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
