<div class="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row vh-50">
            <div class="col-md-6 col-12 h-100 border">
            </div>
            <div class="col-6">
                <div class="row h-50">
                    <div class="col d-md-block d-none border">
                    </div>
                    <div class="col d-lg-block d-none border">
                    </div>
                </div>
                <div class="row h-50">
                    <div class="col d-md-block d-none border">
                    </div>
                    <div class="col d-lg-block d-none border">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
