<div class="content">
    <form [formGroup]="form"
          (ngSubmit)="onSubmit()">
        <div class="row vh-50">
            <div class="col-md-6 col-12 h-100 border">
            </div>
            <div class="col-6">
                <div class="row h-50">
                    <div class="col d-md-block d-none border">
                    </div>
                    <div class="col d-lg-block d-none border">
                    </div>
                </div>
                <div class="row h-50">
                    <div class="col d-md-block d-none border">
                    </div>
                    <div class="col d-lg-block d-none border">
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-8 text-center">
                    <h1>Pokój w Łodzi</h1>
                    <ul class="basic-info-list gray-text">
                        <li>3 sypialnie</li>
                        &bull;
                        <li>Dostepny od zaraz</li>
                        &bull;
                        <li>4+ miesiecy</li>
                    </ul>
                    <hr class="w-100 horizontal-line">
                    <div>
                        <div>Kluczowe informacje</div>
                        <div class="col-12 row">
                            <div class="col-12 col-lg-4 mt-3 d-flex flex-column align-items-center">
                                <div class="subtitle">Cena</div>
                                <div class="d-table key-info-table">
                                    <div class="d-table-row">
                                        <label for="deposit"
                                               class="d-table-cell text-right">
                                            kaucja
                                        </label>
                                        <input id="deposit"
                                               type="number"
                                               formControlName="deposit"
                                               class="input-number-1000 d-table-cell">
                                        <span class="d-table-cell text-left">zł</span>
                                    </div>

                                    <div class="d-table-row">
                                        <label class="d-table-cell text-right"
                                               for="monthly-price">
                                            za mięsiąc
                                        </label>
                                        <input id="monthly-price"
                                               type="number"
                                               formControlName="monthlyPrice"
                                               class="input-number-1000 d-table-cell">
                                        <span class="d-table-cell text-left">zł</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-lg-4 mt-3 d-flex flex-column align-items-center">
                                <div class="subtitle">Przestrzeń</div>
                                <div class="d-table key-info-table">
                                    <div class="d-table-row">
                                        <label class="d-table-cell text-right" for="area">
                                            metraż
                                        </label>
                                        <input id="area"
                                               class="input-number-1000 d-table-cell"
                                               type="number">
                                        <span class="d-table-cell text-left">m2</span>
                                    </div>

                                    <div class="d-table-row">
                                        <label for="number-of-rooms"
                                               class="d-table-cell text-right">
                                            ilość pokoji
                                        </label>
                                        <input id="number-of-rooms"
                                               type="number"
                                               formControlName="monthlyPrice"
                                               class="input-number-1000 d-table-cell">
                                        <span class="d-table-cell"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mt-3 d-flex flex-column align-items-center">
                                <div class="subtitle">Adres</div>
                                <div class="d-table key-info-table">
                                    <div class="d-table-row">
                                        <label class="d-table-cell" for="city">miasto</label>
                                        <input class="d-table-cell w-100" id="city" type="text">
                                    </div>

                                    <div class="d-table-row">
                                        <label class="d-table-cell" for="street">ulica</label>
                                        <input id="street" class="d-table-cell w-100" type="text">
                                    </div>

                                    <div class="d-table-row">
                                    <label class="d-table-cell" for="street-number">nr.</label>
                                    <div class="d-table-cell text-left">
                                        <input class="input-number-100" id="street-number" type="text">
                                    </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>
                    <hr class="w-100 horizontal-line">
                    <div class="row text-center">
                        <div class="col-12">Opis</div>
                        <div class="col-12 mt-3">
                            <label class="w-100">
                                <textarea class="w-100 desc-text-area"
                                          formControlName="description"
                                          placeholder="Opisz krótko pokój">
                                </textarea>
                            </label>
                        </div>
                    </div>
                    <hr class="w-100 horizontal-line">
                    <div class="row text-center">
                        <div class="col-12 text-center">Udogodnienia</div>
                        <div class="col-12 mt-3 row"
                             formArrayName="amenities">
                            <div class="col-4"
                                 *ngFor="let amenity of amenitiesControl; let i = index">
                                <label>
                                    <input type="text"
                                           formControlName="{{i}}"
                                           class="simple-input yellow-text">
                                </label>
                                <button (click)="onDeleteAmenity(i)"
                                        type="button"
                                        class="x-button">X
                                </button>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="button"
                                    class="btn btn-success"
                                    (click)="onAddAmenities()">
                                add
                            </button>
                        </div>
                    </div>
                    <hr class="w-100 horizontal-line">
                    <div class="row text-center">
                        <div class="col-12 text-center">Dostepność</div>
                        <div class="col-12 row">
                            <div class="col-6">
                                <mat-form-field>
                                    <label>
                                        <!--suppress AngularInvalidExpressionResultType -->
                                        <input matInput
                                               formControlName="availableFrom"
                                               [matDatepicker]="picker"
                                               placeholder="Dostępny od">
                                    </label>
                                    <mat-datepicker-toggle matSuffix
                                                           [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker
                                                    startView="multi-year"></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-6 row d-flex flex-column justify-content-center">
                                <div>
                                    <label for="minDuration"
                                           class="mr-2">
                                        najkrócej na:
                                    </label>
                                    <input id="minDuration"
                                           type="number"
                                           formControlName="minDuration"
                                           class="input-number-100 mr-2">
                                    <span>miesięcy</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <app-profile-sticky-info [profile]="profile"></app-profile-sticky-info>
                </div>
            </div>
        </div>
    </form>
</div>
