<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="search-component mb-3 container">
    <form #searchForm="ngForm">
        <div class="row">
            <ion-item *ngIf="!lookingForUserOffer" class="col-12 col-md-3 order-0-md order-1" id="cityPicker">
                <ion-label position="stacked">Miasto</ion-label>
                <ion-select
                    ngModel
                    required
                    name="cityName"
                    placeholder="Miasto"
                    interface="popover"
                    [interfaceOptions]="availableCities"
                    [ngModel]="lastCriteria.cityName"
                    (ionChange)="searchObservable.next($event)">
                    <ion-select-option *ngFor="let city of availableCities" [value]="city">
                        {{city}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class="col-12 col-md-9 order-0 order-md-1">
                <ion-label position="floating">Nazwa</ion-label>
                <ion-input
                    ngModel
                    name="roomName"
                    [ngModel]="lastCriteria.roomName"
                    (input)="searchObservable.next($event)">
                </ion-input>
            </ion-item>
            <ion-item *ngIf="mobile; else desktopPicker" class="col-12 col-md-4 order-2">
                <ion-label position="floating">Od kiedy?</ion-label>
                <ion-datetime
                    ngModel
                    name="startingDate"
                    display-format="MM DD YYYY"
                    picker-format="YYYY MMM DD"
                    [min]="minDate()"
                    [max]="maxDate()"
                    [ngModel]="lastCriteria.startingDate"
                    (ionChange)="searchObservable.next($event)">
                </ion-datetime>
            </ion-item>
            <ng-template #desktopPicker>
                <ion-item lines="none" class="col-12 col-md-4 order-2">
                    <mat-form-field class="pt-2 w-75">
                        <label>
                            <!--suppress AngularInvalidExpressionResultType -->
                            <input matInput
                                   ngModel
                                   name="startingDate"
                                   placeholder="Od kiedy?"
                                   [max]="maxDate()"
                                   [min]="minDate()"
                                   [matDatepicker]="picker"
                                   [ngModel]="lastCriteria.startingDate"
                                   (dateChange)="searchObservable.next()">
                        </label>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="month" [startAt]="startDate"></mat-datepicker>
                    </mat-form-field>
                </ion-item>
            </ng-template>
            <ion-item mode="ios" class="col-12 col-md-4 order-2" lines="none">
                <ion-label>M-cy:</ion-label>
                <ion-range
                    ngModel
                    name="duration"
                    color="secondary"
                    step="1"
                    pin="true"
                    [min]="1"
                    [max]="24"
                    [ngModel]="lastCriteria.duration"
                    (ionChange)="searchObservable.next($event)">
                </ion-range>
            </ion-item>
            <ion-item mode="ios" class="col-12 col-md-4 order-2" lines="none">
                <ion-label>$ $ $</ion-label>
                <ion-range
                    ngModel
                    name="maxPrice"
                    color="secondary"
                    step="100"
                    pin="true"
                    [min]="500"
                    [max]="3000"
                    [ngModel]="lastCriteria.maxPrice"
                    (ionChange)="searchObservable.next($event)">
                </ion-range>
            </ion-item>
            <div class="col-12 order-2 mt-4 d-flex justify-content-center">
                <ion-button (click)="submit(searchForm)">{{lookingForUserOffer ? 'Filtruj' : 'Szukaj'}}</ion-button>
            </div>
        </div>
    </form>
    <div class="row mt-5">
        <div class="col-12 text-center" *ngIf="isLoading; else searchResult">
            <app-loader-spinner></app-loader-spinner>
        </div>
        <ng-template #searchResult>
            <div class="col-12 p-3 mt-lg-5 text-center" *ngIf="rooms.length < 1">Brak wyników wyszukiwania</div>
            <div *ngFor="let room of rooms" class="col-md-6 col-12 col-lg-4 p-3">
                <app-room-preview (click)="navigateToRoom(room.id)" [room]="room"></app-room-preview>
            </div>
        </ng-template>
    </div>
</div>

