@import "../../../styles";

.header {
    top: 0;
    width: 100%;
}

.menu {
    margin: 0;

    li {
        cursor: pointer;
        display: inline;
        margin: 0 15px;
    }

    .menu-button-item {
        cursor: pointer;
        margin: 0 15px;
    }
}

.absolute-header {
    position: absolute;
    color: $font-color;

    .dropdown-button {
        color: $font-color;

        &:focus {
            outline: 0;
            box-shadow: none;
        }
    }
}

.fixed-header {
    position: fixed;
    background-color: white;
    color: $font-color;
    z-index: 100;
}
