<div class="content d-flex overflow-hidden">
    <div class="left-section">
        <app-browser></app-browser>
        <div class="rooms">
            <app-room *ngFor="let room of rooms" [room]="room" (roomSelected)="onRoomSelected($event)"
                      class="rooms__room" >
            </app-room>
        </div>
    </div>
    <div class="right-section">
        <agm-map class="google-map" [latitude]="latitude" [longitude]="longitude">
            <agm-marker></agm-marker>
        </agm-map>
    </div>
</div>

