@import "../../../variables";

.horizontal-line {
    margin-top: 2em;
    margin-bottom: 2em;
}

.small-profile-img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid black;
}
