<div class="container">
    <div class="content row">
        <div class="col-4">
            <div class="sticky-info">
                <div class="mb-3 d-flex align-content-center justify-content-center">
                    <img class="profile-img" alt="profile image" *ngIf="profile.profilePicture.base64String; else noImage" [src]="profile.profilePicture.base64String">
                    <ng-template #noImage>
                        <div>
                            <span>?</span>
                        </div>
                    </ng-template>

                </div>
                <hr class="w-50">
                <div>
                    <div>
                        {{profile.firstName}}, {{profile.lastName}}
                    </div>
                    <div>
                        {{profile.gender | gender}}, {{profile.birthDate | age}}
                    </div>
                </div>
                <hr class="w-50">
                <div class="mb-3">
                    <div>Superwspółlokator</div>
                </div>
            </div>
        </div>
        <div class="col-8 border">
            <div class="ml-2">
                <div class="mb-5 mt-3">
                    <div class="big-title blue-text font-weight-bold">
                        O mnie
                    </div>
                    <div>
                        <div class="small-tittle font-weight-bold">Tak w skrócie:</div>
                        <div>{{profile.description}}</div>
                    </div>
                    <hr class="horizontal-line">
                    <div>
                        <div class="small-tittle font-weight-bold m-0 mb-4">Zajmuje się</div>
                        <div>
                            <span>Pracuje w: </span>
                            <span>{{profile.workingIn}}</span>
                        </div>
                        <div>
                            <span>Uczy się na:  </span>
                            <span>{{profile.studyingAt}}</span>
                        </div>
                    </div>
                    <hr class="horizontal-line">
                    <div class="row">
                        <div class="col-6">
                            <div class="small-tittle font-weight-bold m-0 mb-2">
                                Jestem
                            </div>
                            <div *ngFor="let interest of profile.interests"
                                 class="yellow-text">
                                {{interest}}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="small-tittle font-weight-bold m-0 mb-2">
                                Interesuję się
                            </div>
                            <div *ngFor="let inclination of profile.inclinations"
                                 class="yellow-text">
                                {{inclination}}
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="horizontal-line">
                <div class="mb-5">
                    <div class="big-title blue-text font-weight-bold">
                        Preferencje
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="small-tittle font-weight-bold ">
                                Jak często sprzatam
                            </div>
                            <div class="">{{profile.cleaningPolicy}}</div>
                        </div>
                        <div class="col-6">
                            <div class="small-tittle font-weight-bold">
                                Czy palę?
                            </div>
                            <div>{{profile.smokingPolicy}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="small-tittle font-weight-bold ">
                                Co myślisz o zwierzetach ?
                            </div>
                            <div class="">{{profile.petPolicy}}</div>
                        </div>
                        <div class="col-6">
                            <div class="small-tittle font-weight-bold">
                                A jak z gośćmi, mogą zostać na noc?
                            </div>
                            <div>
                                {{profile.guestsPolicy}}
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="horizontal-line">
                <div class="mb-5">
                    <div class="big-title blue-text font-weight-bold">
                        Moje Pokoje
                    </div>
                    <div class="row mt-3">
                        <div class="offset-1 col-4 border">
                            <div>#</div>
                            <div>#</div>
                            <div>#</div>
                            <div>#</div>
                            <div>#</div>
                            <div>#</div>
                            <div>#</div>
                        </div>
                        <div class="offset-2 col-4 border">
                            <div>#</div>
                            <div>#</div>
                            <div>#</div>
                            <div>#</div>
                            <div>#</div>
                            <div>#</div>
                            <div>#</div>
                        </div>
                    </div>
                </div>
                <hr class="horizontal-line">
                <div class="mb-5">
                    <div class="big-title blue-text font-weight-bold">
                        Recenzje
                    </div>
                    <div class="m-3">
                        <div class="gray-text mt-2 mb-2">lipiec 2019</div>
                        <div>Niesamowity dom! Mieszkalem tam przez pare miesiecy i moge powiedziec o nim same dobre
                            rzeczy!. Jest taki wygodny, ze rzadko kiedy z niego wychodzilem zeby gdzies indziej spedzic
                            czas. Fiona przez caly czas gotowala przepyszne obiady :). To byl dobrze spedzony czas.
                        </div>
                        <div class="profile-img mt-2 d-flex align-content-center justify-content-center">?</div>
                    </div>
                    <div class="m-3">
                        <div class="gray-text mt-2 mb-2">sierpien 2019</div>
                        <div>Mieszkanie bylo posprzatane i przyjemne. Wszystko bylo na swoim miejscu. Dobra lokacja i
                            wygodne polaczenia.
                        </div>
                        <div class="profile-img mt-2  d-flex align-content-center justify-content-center">?</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

