<div class="login-dialog">
    <h1 mat-dialog-title>Logowanie</h1>
    <div class="login-dialog__close-icon" (click)="closeDialog()">
        <img alt="close svg" src="assets/svg/cross.svg"/>
    </div>
    <div mat-dialog-content>
        <form [formGroup]="loginForm">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error>
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Hasło</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error>
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="login()">Zaloguj</button>
    </div>
</div>
