<div class="browser">
    <mat-form-field appearance="outline" class="city-select">
        <mat-label>Wybierz miasto</mat-label>
        <mat-select>
            <mat-option>--------</mat-option>
            <mat-option value="valid">Łódź</mat-option>
            <mat-option value="invalid">Bełchatów</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="description">
        <mat-label>Szukaj</mat-label>
        <input matInput />
    </mat-form-field>
</div>
