<div class="ml-2">
    <div class="mb-5 mt-3">
        <div class="big-title blue-text">
            O mnie
        </div>
        <div class="small-tittle">
            Tak w skrócie:
        </div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Nunc sed id semper risus in hendrerit gravida rutrum quisque. Quis auctor elit sed vulputate mi sit amet mauris commodo. Massa id neque aliquam vestibulum morbi blandit cursus. Metus aliquam eleifend mi in nulla. Suscipit tellus mauris a diam maecenas sed enim ut sem. Suspendisse sed nisi lacus sed viverra tellus in hac. Massa placerat duis ultricies lacus. Eget mi proin sed libero enim sed faucibus turpis in. Aliquam vestibulum morbi blandit cursus risus at.
        </div>
    </div>
    <div class="mb-5">
        <div class="big-title blue-text">
            Preferencje
        </div>
        <div>#</div>
        <div>#</div>
        <div>#</div>
        <div>#</div>
        <div>#</div>
    </div>
    <div class="mb-5">
        <div class="big-title blue-text">
            Moje Pokoje
        </div>
        <div>#</div>
        <div>#</div>
        <div>#</div>
        <div>#</div>
        <div>#</div>
    </div>
    <div class="mb-5">
        <div class="big-title blue-text">
            Recenzje
        </div>
        <div>#</div>
        <div>#</div>
        <div>#</div>
        <div>#</div>
        <div>#</div>
    </div>
</div>
