/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables";

.big-title {
    color: $font-color;
    font-size: 30px;
}

.small-tittle {
    color: $font-color;
    font-size: 20px;
    margin-top: 2em;
    margin-bottom: 0.5em;
}


.blue-text {
    color: $blue-color;
}

.yellow-text {
    color: $yellow-color;
}

.dupa {
    height: 500px;
}
