/* You can add global styles to this file, and also import other style files */
$yellow-color: #EFCEA3;
$blue-color: #47A5C1;
$font-color: #484848;

.big-title {
    color: $font-color;
    font-size: 30px;
}

.small-tittle {
    color: $font-color;
    font-size: 20px;
    margin-top: 2em;
    margin-bottom: 0.5em;
}


.blue-text {
    color: $blue-color;
}

.yellow-text {
    color: $yellow-color;
}
