<div>
    <img src="assets/home/welcome.jpg" class="img-fluid"/>
    <div class="container mt-5">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <img src="assets/home/around-the-world.jpg" class="img-fluid" height="1920" style="display:block;">
            </div>
            <div class="col-lg-6">
                <div class="d-flex flex-column justify-content-center h-100">
                    <div class="big-title">
                        <span>Wynajmuj łatwiej i bezpieczniej</span>
                    </div>
                    <div>
                        <div class="small-tittle blue-text">
                            <span>Rezerwacje online</span>
                        </div>
                        <div>
                            Z łatwością przejrzyj zgłoszenia
                            od osób zainteresowanych wynajmem.
                            W momencie gdy zaakceptujesz któreś z nich,
                            ukryjemy Twoją ofertę i przeniesiemy Cię
                            do systemu płatności.
                        </div>
                    </div>
                    <div class="big-title"></div>
                    <div>
                        <div class="small-tittle blue-text">
                            <span>Bezpieczne Płatności</span>
                        </div>
                        <div>
                            Gdy potencjalny współlokator zarezerwuje Twoją oferte,
                            Dorm zabezpieczy i prześle pieniądze za pierwszy miesiąc
                            wprost na Twoje konto.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
