<div>
  <img src="assets/home/welcome.jpg" class="img-fluid"/>
  <div class="container mt-5">
      <div class="row justify-content-end">
          <div class="col-lg-6">
              <img src="assets/home/around-the-world.jpg" class="img-fluid" style="display:block;">
          </div>
          <div class="col-lg-6">
              <div class="siemanko">
                  <div class="big-title">
                      <span>Wynajmuj łatwiej i bezpieczniej</span>
                  </div>
                  <div>
                      <div class="medium-blue-title">
                          <span>Rezerwacja online</span>
                      </div>
                      <div>
                          Z łatwoscią przejrzyj zgłoeszneia od osób zainteresowanych wynajmem.
                          W momecie gdy zaakceptujesz któreś z nich, ukryjemy twoją ofertę i przeniesiemy Cię do systemu płatności.
                      </div>
                  </div>
                  <div class="big-title"></div>
                  <div>
                      <div class="medium-blue-title">
                          <span>Bezpieczne płatności</span>
                      </div>
                      <div>
                        Z śatwoscia przejrzyj zgłoszenia od osób zainteresowanych wynajmem.
                        W momęcie gdy zaakceptujesz któres z nich, ukryjemy twoja oferte i przeniesiemy Cię do systemu płatnosci.
                      </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
</div>
