@import "../../../../variables";

.browser {
    max-height: $room-browser-height;
    width: 100%;
}

.city-select {
    width: 30%;
}

.description {
    width: 70%;
}

.search-box {
    min-height: 100vh;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

