/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables";

body{
    overflow: auto;
    position: static;
}

.toast-top-right-under-header {
    top: $header-height;
    right: 12px;
}

.big-title {
    color: $font-color;
    font-size: 30px;
}

.small-tittle {
    color: $font-color;
    font-size: 20px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.blue-text {
    color: $blue-color;
}

.yellow-text {
    color: $yellow-color;
}

.gray-text {
    color: $font-color;
}

.content {
    margin-top: $header-height;
}

.scrollable-content {
    overflow-y: scroll;

    ::-webkit-scrollbar {
        display: none;
    }
}

.mat-datepicker-content {
    position: relative;
    left: -48px;
    width: 300px;
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid lightgray;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 70%;

    img {
        max-height: 80%;
        width: auto;
    }
}

.cursor-pointer{
    cursor: pointer;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;

    & > [class^="col-"],
    & > [class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}
