@import "../../../styles";

.header {
    top: 0;
    width: 100%;
    background-color: white;
}

.menu {
    margin: 0;

    li {
        display: inline;
        margin: 0 15px;
    }
}

.absolute-header {
    position: absolute;
    color: white;
}

.sticky-header {
    position: sticky;
    color: $font-color;
}
