@import "../../../styles";

.title-image-container {
    height: 900px;
}

.title-image {
    width: 100%;
    max-height: 900px;
    object-fit: cover;
    object-position: 50% 70%;
}

.yellow-button {
    margin: 0 10px;
    padding: 50px;
    border: solid $yellow-color 2px;

    button {
        background-color: $yellow-color;
        border: none;
        color: white;
        white-space: nowrap;
        border-radius: 2px;
    }

    button:hover {
        border: none;
    }

    button:active {
        outline: none;
        border: none;
    }

    button:focus {outline:0;}
}


.blue-button {
    margin: 0 10px;
    padding: 50px;
    border: solid $blue-color 2px;

    button {
        background-color: $blue-color;
        border: none;
        color: white;
        white-space: nowrap;
        border-radius: 2px;
    }

    button:hover {
        border: none;
    }

    button:active {
        outline: none;
        border: none;
    }

    button:focus {outline:0;}
}
