@import "../../../variables";

.horizontal-line {
    margin-top: 2em;
    margin-bottom: 2em;
}

.small-profile-img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid black;
}

.summary-text-area {
    min-height: 100px;
}

.simple-input {
    border-radius: 25px;
    border: 1px solid lightgray;
    text-align: center;
    padding: 0 5px;
    margin-bottom: 10px;
    height: 2em;
    color: black;

    &:focus {
        outline: none;
        border: 1px solid lightblue;
    }

    &.first-name-input {
        border-radius: 25px 0 0 25px;

        &:focus {
            border-right: 1px solid lightgray;
        }
    }

    &.last-name-input {
        border-radius: 0 25px 25px 0;
        border-left: none;
    }
}

.x-button {
    background-color: transparent;
    color: #dc3545;
    border: none;

    &:focus {
        outline: none;
    }
}

.sticky-info {
    position: sticky;
    top: 72px;
    border: 1px solid $border-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.plus {
    transition: 0.5s;

    &:hover {
        filter:invert(0.5) sepia(1) saturate(3) hue-rotate(65deg)
    }
}

.simple-input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid lightcoral;
}

.submitted {
    .mat-radio-group.ng-invalid {
        border: 1px solid lightcoral;
    }

    .simple-input.ng-invalid {
        border: 1px solid lightcoral;
    }

    textarea.ng-invalid {
        border: 1px solid lightcoral;
    }
}

