<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="room/search/own"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="search-component mb-3 container">
    <form #searchForm="ngForm">
        <div class="row">
            // searching criteria
        </div>
    </form>
    <div class="row mt-5">
        <div class="col-12 text-center" *ngIf="isLoading; else searchResult">
            <app-loader-spinner></app-loader-spinner>
        </div>
        <ng-template #searchResult>
            <div class="col-12 p-3 mt-lg-5 text-center" *ngIf="profiles.length < 1">Brak wyników wyszukiwania</div>
            <div *ngFor="let profile of profiles" class="col-md-4 col-6 col-lg-3 p-3">
                <app-profile-preview [profile]="profile" [navigateOnClick]="true">
                </app-profile-preview>
            </div>
        </ng-template>
    </div>
</div>
