<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div [ngClass]="submitted ? 'submitted' : ''"  class="content row">
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="sticky-info border">
                    <div class="mb-3 d-flex align-content-center justify-content-center">
                        <img class="profile-img" alt="profile image" *ngIf="profileImg.base64String; else noImage" [src]="profileImg.base64String | safe: 'url'">
                            <ng-template #noImage>
                                <div class="profile-img border">
                                    <span>?</span>
                                </div>
                            </ng-template>
                    </div>
                    <button type="button" class="btn btn-success mt-2" (click)="fileInput.click()">{{profileImg.base64String ? 'zmień' : 'dodaj'}}</button>
                    <input type="file"
                           class="d-none"
                           #fileInput (change)="OnSelectFile($event)">
                    <hr class="w-50">
                    <div class="w-75">
                        <div class="w-100 p-2">
                            <label class="w-50">
                                <input type="text"
                                       class="w-100 simple-input first-name-input"
                                       formControlName="firstName"
                                       placeholder="First name">
                            </label>
                            <label class="w-50">
                                <input type="text"
                                       class="w-100 simple-input last-name-input"
                                       formControlName="lastName"
                                       placeholder="Last name">
                            </label>
                        </div>
                        <mat-radio-group required="true" class="input-group d-flex justify-content-center p-2" formControlName="gender" aria-label="Select an option">
                            <mat-radio-button value="MALE" color="primary">M</mat-radio-button>
                            <mat-radio-button value="FEMALE" class="ml-4">K</mat-radio-button>
                        </mat-radio-group>
                        <div class="mt-2">
                            <mat-form-field>
                                <label>
                                    <!--suppress AngularInvalidExpressionResultType -->
                                    <input matInput formControlName="birthDate" [matDatepicker]="picker" placeholder="Choose birth date">
                                </label>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <hr class="w-50">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">prześlij</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 border">
                <div>
                    <div class="mb-5 mt-3">
                        <div class="big-title blue-text font-weight-bold">
                            O mnie
                        </div>
                        <div>
                            <div class="small-tittle font-weight-bold">Tak w skrócie:</div>
                            <div>
                                <label class="w-100">
                                <textarea class="w-100 summary-text-area"
                                          formControlName="description"
                                          placeholder="Napisz pare słów o sobie...">
                                </textarea>
                                </label>
                            </div>
                        </div>
                        <hr class="horizontal-line">
                        <div>
                            <div class="small-tittle font-weight-bold m-0 mb-4">Zajmuję się</div>
                            <div class="row d-flex justify-content-between">
                                <div class="col-6 d-flex flex-column">
                                    <span>Pracuję w: </span>
                                    <div>
                                        <label><input type="text" formControlName="workingIn" class="simple-input mt-2"></label>
                                    </div>
                                </div>
                                <div class="col-6 d-flex flex-column">
                                    <span>Uczę się na:  </span>
                                    <div>
                                        <label><input type="text" formControlName="studyingAt" class="simple-input mt-2"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="horizontal-line">
                        <div class="row">
                            <div class="col-6" formArrayName="interests">
                                <div class="small-tittle font-weight-bold m-0 mb-2">
                                    Interesuję się:
                                </div>
                                <div *ngFor="let interest of interestsControl; let i = index">
                                    <label>
                                        <input type="text" formControlName="{{i}}" class="simple-input yellow-text">
                                    </label>
                                    <button (click)="onDeleteInterest(i)" type="button" class="x-button">X</button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success" (click)="onAddInterest()">
                                        dodaj
                                    </button>
                                </div>
                            </div>
                            <div class="col-6" formArrayName="inclinations">
                                <div class="small-tittle font-weight-bold m-0 mb-2">
                                    Jestem:
                                </div>
                                <div class="form-group" *ngFor="let inclination of inclinationsControl; let i = index">
                                    <label>
                                        <select class="form-control"
                                                [value]="inclination.value" formControlName="{{i}}">
                                            <option *ngFor="let characteristicsOption of characteristicsOptions">
                                                {{characteristicsOption}}
                                            </option>
                                        </select>
                                    </label>
                                    <button (click)="onDeleteInclination(i)" type="button" class="x-button">X</button>
                                </div>
                                <button type="button" class="btn btn-success" (click)="onAddInclination()">
                                    dodaj
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr class="horizontal-line">
                    <div class="mb-5">
                        <div class="big-title blue-text font-weight-bold">
                            Preferencje
                        </div>
                        <div class="row">
                            <div class="col-6 d-flex flex-column justify-content-between">
                                <div class="small-tittle font-weight-bold ">
                                    Jak często sprzątam
                                </div>
                                <div>
                                    <label>
                                        <input type="text" formControlName="cleaningPolicy" class="simple-input">
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 d-flex flex-column justify-content-between">
                                <div class="small-tittle font-weight-bold">
                                    Czy palę?
                                </div>
                                <div>
                                    <label>
                                        <input type="text" formControlName="smokingPolicy" class="simple-input">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 d-flex flex-column justify-content-between">
                                <div class="small-tittle font-weight-bold ">
                                    Co myślę o zwierzętach?
                                </div>
                                <label>
                                    <input type="text" formControlName="petPolicy" class="simple-input">
                                </label>
                            </div>
                            <div class="col-6 d-flex flex-column justify-content-between">
                                <div class="small-tittle font-weight-bold">
                                    Czy goście mogą zostać na noc?
                                </div>
                                <div class="w-100">
                                    <label>
                                        <input type="text" formControlName="guestsPolicy" class="simple-input">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="horizontal-line">
                    <div>
                        <div class="big-title blue-text font-weight-bold">
                            Moje Pokoje
                        </div>
                        <div class="row">
                            <div *ngFor="let room of profile.ownedRooms" class="col-6 p-3">
                                <app-room-preview [navigateOnClick]="true" [room]="room"></app-room-preview>
                            </div>
                            <div class="col-6 p-3">
                                <div class="h-100 w-100 d-flex cursor-pointer justify-content-center align-content-center plus" (click)="onAddRoom()">
                                    <img src="assets/svg/plus.svg" alt="dodaj pokój" width="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

