<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div [ngClass]="submitted ? 'submitted' : ''" class="mt-3 row">
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="sticky-info border">
                    <div class="mb-3 d-flex align-content-center justify-content-center">
                        <img class="profile-img" alt="profile image" *ngIf="profileImg.base64String; else noImage"
                             [src]="profileImg.base64String | safe: 'url'">
                        <ng-template #noImage>
                            <div class="profile-img border">
                                <span>?</span>
                            </div>
                        </ng-template>
                    </div>
                    <button type="button" class="btn btn-success mt-2"
                            (click)="fileInput.click()">{{profileImg.base64String ? 'zmień' : 'dodaj'}}</button>
                    <input type="file"
                           class="d-none"
                           #fileInput (change)="OnSelectFile($event)">
                    <hr class="w-50">
                    <div class="w-100">
                        <div class="w-75 d-flex justify-content-center m-auto">
                            <label>
                                <input type="text"
                                       class="w-100 simple-input first-name-input"
                                       formControlName="firstName"
                                       placeholder="First name">
                            </label>
                            <label>
                                <input type="text"
                                       class="w-100 simple-input last-name-input"
                                       formControlName="lastName"
                                       placeholder="Last name">
                            </label>
                        </div>
                        <mat-radio-group required="true" class="input-group d-flex justify-content-center p-2"
                                         formControlName="gender" aria-label="Select an option">
                            <mat-radio-button value="MALE" color="primary">M</mat-radio-button>
                            <mat-radio-button value="FEMALE" class="ml-4">K</mat-radio-button>
                        </mat-radio-group>
                        <div class="mt-2">
                            <mat-form-field *ngIf="!mobile; else mobileBirthPicker">
                                <label>
                                    <!--suppress AngularInvalidExpressionResultType -->
                                    <input matInput formControlName="birthDate" [matDatepicker]="picker"
                                           placeholder="Wybierz datę urodzin">
                                </label>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
                            </mat-form-field>
                            <ng-template #mobileBirthPicker>
                                <ion-item lines="none" class="w-100">
                                    <ion-label class="text-center d-flex align-items-center justify-content-center"
                                               position="floating">
                                        <div class="mr-3">
                                            Wybierz datę urodzin
                                        </div>
                                        <div>
                                            <ion-icon size="large" name="calendar-outline"></ion-icon>
                                        </div>
                                    </ion-label>
                                    <ion-datetime
                                        [className]="'text-center'"
                                        formControlName="birthDate"
                                        display-format="DD MM YYYY"
                                        picker-format="DD MM YYYY"
                                        min="1900-01-01"
                                        [max]="maxDate()">
                                    </ion-datetime>
                                </ion-item>
                            </ng-template>
                        </div>
                    </div>
                    <hr class="w-50">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">prześlij</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 border">
                <div>
                    <div class="mb-5 mt-3">
                        <div class="big-title blue-text font-weight-bold">
                            O mnie
                        </div>
                        <div>
                            <div class="small-tittle font-weight-bold">Tak w skrócie:</div>
                            <div>
                                <label class="w-100">
                                <textarea class="w-100 summary-text-area"
                                          formControlName="description"
                                          placeholder="Napisz pare słów o sobie...">
                                </textarea>
                                </label>
                            </div>
                        </div>
                        <hr class="horizontal-line">
                        <div>
                            <div class="small-tittle font-weight-bold m-0 mb-4">Zajmuję się</div>
                            <div class="row d-flex justify-content-between">
                                <div class="col-md-6 col-12 text-center d-flex flex-column">
                                    <span>Pracuję w: </span>
                                    <div>
                                        <label><input type="text" formControlName="workingIn" class="simple-input mt-2"></label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 text-center d-flex flex-column">
                                    <span>Uczę się na:  </span>
                                    <div>
                                        <label><input type="text" formControlName="studyingAt"
                                                      class="simple-input mt-2"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="horizontal-line">
                        <div class="row">
                            <div class="col-md-6 col-12 mb-5 mb-md-0" formArrayName="interests">
                                <div class="small-tittle font-weight-bold m-0 mb-2">
                                    Interesuję się:
                                </div>
                                <div class="text-center">
                                    <div *ngFor="let interest of interestsControl; let i = index">
                                        <label>
                                            <input type="text" formControlName="{{i}}" class="simple-input yellow-text">
                                        </label>
                                        <button (click)="onDeleteInterest(i)" type="button" class="x-button">X</button>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-success" (click)="onAddInterest()">
                                            dodaj
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12" formArrayName="inclinations">
                                <div class="small-tittle font-weight-bold m-0 mb-2">
                                    Jestem:
                                </div>
                                <div class="text-center">
                                    <div class="form-group"
                                         *ngFor="let inclination of inclinationsControl; let i = index">
                                        <label>
                                            <select class="form-control" formControlName="{{i}}">
                                                <option [value]="null" hidden disabled>Wybierz...</option>
                                                <option [value]="characteristicsOption"
                                                        *ngFor="let characteristicsOption of characteristicsOptions">
                                                    {{characteristicsOption}}
                                                </option>
                                            </select>
                                        </label>
                                        <button (click)="onDeleteInclination(i)" type="button" class="x-button">X
                                        </button>
                                    </div>
                                    <button type="button" class="btn btn-success" (click)="onAddInclination()">
                                        dodaj
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="horizontal-line">
                    <div class="mb-5">
                        <div class="big-title blue-text font-weight-bold">
                            Preferencje
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12 d-flex flex-column justify-content-between">
                                <div class="small-tittle font-weight-bold ">
                                    Jak często sprzątam?
                                </div>
                                <div class="text-center">
                                    <label>
                                        <input type="text" formControlName="cleaningPolicy" class="simple-input">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 d-flex flex-column justify-content-between">
                                <div class="small-tittle font-weight-bold">
                                    Czy palę?
                                </div>
                                <div class="text-center">
                                    <label>
                                        <input type="text" formControlName="smokingPolicy" class="simple-input">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12 d-flex flex-column justify-content-between">
                                <div class="small-tittle font-weight-bold ">
                                    Co myślę o zwierzętach?
                                </div>
                                <div class="text-center">
                                    <label>
                                        <input type="text" formControlName="petPolicy" class="simple-input">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 d-flex flex-column justify-content-between">
                                <div class="small-tittle font-weight-bold">
                                    Czy goście mogą zostać na noc?
                                </div>
                                <div class="w-100 text-center">
                                    <label>
                                        <input type="text" formControlName="guestsPolicy" class="simple-input">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="horizontal-line">
                    <div>
                        <div class="big-title blue-text font-weight-bold">
                            Moje Pokoje
                        </div>
                        <div class="row">
                            <div *ngFor="let room of profile.ownedRooms" class="col-12 col-md-6 p-3">
                                <app-room-preview [navigateOnClick]="true" [room]="room"></app-room-preview>
                            </div>
                            <div class="col-12 col-md-6 p-3 mb-5 mt-5">
                                <div class="w-100 h-100 plus cursor-pointer" (click)="onAddRoom()">
                                    <ion-icon name="add-circle" size="large"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

