<div>
    <div>
        <img src="assets/home/welcome.jpg" class="title-image"/>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-6 d-flex align-items-center">
                <div>
                    <img src="assets/home/anywhere.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex flex-column justify-content-center h-100" >
                    <div class="big-title mt-4 mt-lg-0">
                        <span>Wynajmuj łatwiej i bezpieczniej</span>
                    </div>
                    <div>
                        <div>
                            <div class="small-tittle blue-text mt-4 mb-2">
                                <span>Rezerwacje online</span>
                            </div>
                            <div>
                                Z łatwością przejrzyj ogłoszenia
                                od osób zainteresowanych wynajmem swojego pokoju.
                                Gdy zaakceptujesz któreś z nich,
                                ukryjemy Twoją ofertę i przeniesiemy Cię
                                do systemu płatności elektronicznej.
                            </div>
                        </div>
                        <div>
                            <div class="small-tittle blue-text mt-4 mb-2">
                                <span>Bezpieczne Płatności</span>
                            </div>
                            <div>
                                Gdy potencjalny współlokator zarezerwuje Twoją oferte,
                                zabazpieczymy i prześlemy pieniądze za pierwszy miesiąc
                                wprost na Twoje konto.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 order-2 order-lg-1 mt-4 mt-lg-0">
                <div class="d-flex flex-column justify-content-center h-100">
                    <div class="big-title">
                        <span>Wynajmuj tak jak chcesz</span>
                    </div>
                    <div>
                        <div class="small-tittle yellow-text">
                            <span>Znajdź swojego współlokatora</span>
                        </div>
                        <div>
                            Używając Dorm zamieszkaj ze swoim nowym BFF'em
                            albo znajdź kogoś kto pomoże Ci zapłacić za czynsz.
                        </div>
                    </div>
                    <div class="big-title"></div>
                    <div>
                        <div class="small-tittle yellow-text">
                            <span>Elastyczne warunki</span>
                        </div>
                        <div>
                            Masz pusty pokój który mógł byś komuś wynająć?
                            Nie ma znaczenia czy tylko na 3 miesiące, czy na cały rok!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 d-flex align-items-center">
                <img src="assets/home/room.jpg" class="img-fluid" style="display:block;">
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-lg-6 d-flex align-items-center">
                <div>
                    <img src="assets/home/big_room.jpg" class="img-fluid" style="display:block;">
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5 d-flex align-items-center justify-content-center">
                <div class="yellow-button" routerLink="/room/find">
                    <button>Szukaj pokoju</button>
                </div>
                <div class="blue-button" routerLink="/room/create">
                    <button>Wystaw pokój</button>
                </div>
            </div>
        </div>
    </div>
</div>
